/* You can add global styles to this file, and also import other style files */
.cls_pointer {
    cursor: pointer;
}
.cls_alignright{
    text-align: right;
}
.disabled {
    cursor: not-allowed;
}
.m-l-100 {
    margin-left: 100px;
}